html,
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body .header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-weight: lighter;
}

body .header img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

